<div class="head-container justify-content-center">

    <div class="row align-items-center justify-content-center">

        <div (click)="home()" class="col-md-1 text-center header-btn">
            HOME
        </div>
        <div class="col-md-1 text-center header-btn">
            FOLLOWING
        </div>
        <div class="col-md-1 text-center header-btn">
            MY PRODUCTS
        </div>
        <div (click)="profile()" class="col-md-1 text-center header-btn">
            PROFILE
        </div>
    
    </div>
    
</div>

