
<div class="item-container">

    <div class="item-container-inner" (click)="itemDetailsPage()">
        
        <img [src]="product.picture">

        <div class="naslov-container">
            <a>{{product.title}}</a>
            <p class="opis text-secondary">{{product.description}}</p>
        </div>

        <div class="cena-div">
            <b class="cena">{{priceToString()}}</b>
        </div>

        <div class="posted-div">
            <span class="text-secondary">{{product.dateMessage}}</span>
        </div>

    </div>
    

    <div class="delete-div" *ngIf="this.current==='/my-products'">
        <button *ngIf="!confirmDel" (click)="confirmDel = true" class="delete-btn">Delete</button>
        <div class="btns-div" *ngIf="confirmDel">
            <span class="q">Are you sure?</span>
            <button (click)="confirmDel = false" class="no">No</button>
            <button (click)="deleteItem()" class="yes">Yes</button>
        </div>
    </div>

</div>