<div class="container" (click)="itemDetailsPage()">
    <div class="row padding5">
        <div class="col-md-3">
            <img [src]="product.picture">
        </div>

        <div class="col-md-4 naslov-opis">
            <a>{{product.title}}</a>
            <p class="opis text-secondary">{{product.description}}</p>
        </div>

        <div class="col-md-2">
            <b class="cena">{{product.price + " " + product.currency}}</b>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
