img{
    width: 130px;
    height: 120px;
    border: 1px solid #E0E7EF;
}

div.item-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;


    background-color: white;/*
    border: 1px rgb(187, 182, 182) solid;
    border-radius: 4px;
*/
    border: 1px solid #D0D7DE;
    border-radius: 3px;



    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    width: 800px;
    height: fit-content;
    
}


.naslov-container{
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 200px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

.cena-div{
    width: 200px;
    height: 120px;
}

.delete-btn{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: rgba(255, 0, 0, 0.479);
    height: 120px;

}

.posted-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 130px;
    height: 120px;
    color: #6C757D;
}

.text-secondary{
    line-height: 15px;
}

.opis{
    margin-top: 3px;
    font-size: small;
}

.cena{
    color: brown;
}