<div class="item-container" (click)="itemDetailsPage()">

        <img [src]="product.picture">

        <div class="naslov-container">
            <a>{{product.title}}</a>
            <p class="opis text-secondary">{{product.description}}</p>
        </div>

        <div class="cena-div">
            <b class="cena">{{priceToString()}}</b>
        </div>

        <div class="posted-div">
            <span class="text-secondary">{{product.dateMessage}}</span>
        </div>

        <div class="delete-btn" *ngIf="this.current==='/my-products'">delete</div>
</div>
