<div class="upper-header-container container-fluid">

</div>




<div class="head-container container-fluid justify-content-center">

    <div class="row align-items-center">
        <div class="col-md-3 logo-container">
        </div>

        <div class="col-md-1 text-center spacing">
        </div>

        <div class="col-md-1 text-center header-btn">
            HOME
        </div>
        <div class="col-md-1 text-center header-btn">
            FOLLOWING
        </div>
        <div class="col-md-1 text-center header-btn">
            TRENDING
        </div>
        <div class="col-md-1 text-center header-btn">
            TOP USERS
        </div>

        <div class="col-md-1 spacing">
        </div>
        <div class="col-md-2 search-container">
        </div>

    </div>
</div>