<div class="upper-header-container container-fluid align-items-center">
    <fa-icon [icon]="phoneIcon"></fa-icon>
    <b class="number">064 12345678</b>
</div>

<div class="head-container justify-content-center">

    <div class="row align-items-center justify-content-center">

        <div class="col-md-1 text-center header-btn">
            HOME
        </div>
        <div class="col-md-1 text-center header-btn">
            FOLLOWING
        </div>
        <div class="col-md-1 text-center header-btn">
            TRENDING
        </div>
        <div class="col-md-1 text-center header-btn">
            TOP USERS
        </div>
    
    </div>
    
</div>

