<app-head></app-head>

<div class="item-container">

    <div class="user-primary-infos">
            <div class="primary-info">
                <img class="product-img">
            <h3 class="naslov">Ime proizvoda koji se prodaje</h3>
            <h4 class="cena">234 din</h4>
        </div>

        <div class="separator-h"></div>

        <div class="user-info">
            <span class="naziv">Name: <span class="content">Ime prezime</span></span>
            <span class="naziv">City: <span class="content">Grad</span></span>
            <span class="naziv">Address: <span class="content">adresa</span></span>
            <span class="naziv">Email: <span class="content">nekimail@gmail.com</span></span>
            <span class="naziv">Phone number: <span class="content">4352435423</span></span>
        </div>
    
    </div>

    <div class="separator-w"></div>

    <div class="other-info">
        <span class="naziv">Description</span>
        <p class="w-500">neki opis nesto o proizvodu sdangiop sadngoi sadngosadn gosadngoa sdngodsan goadsgnodsgn</p>
    </div>

    <div class="buttons-div">
        <button class="btn" (click)="back()">Back</button>
        <button class="btn">Follow this item</button>
    </div>
</div>