<app-head></app-head>

<div class="item-container">

    <div class="user-primary-infos">
            <div class="primary-info">
                <img [src]="picture" class="product-img">
            <h4 class="naslov">{{title}}</h4>
            <h5 class="cena">{{price}}</h5>
            <span class="naziv">{{"("+state+")"}}</span>
            <span class="naziv">{{datePosted + " (" + dateMessage + ")"}}</span>
        </div>

        <div class="separator-h"></div>

        <div class="user-info">
            <h5 class="c-header">Contact info</h5>
            <span class="naziv">Name: <span class="content">{{name}}</span></span>
            <span class="naziv">City: <span class="content">{{city}}</span></span>
            <span class="naziv">Address: <span class="content">{{address}}</span></span>
            <span class="naziv">Email: <span class="content">{{email}}</span></span>
            <span class="naziv">Phone number: <span class="content">{{phone}}</span></span>
        </div>
    
    </div>

    <div class="separator-w"></div>

    <div class="other-info">
        <span class="naziv">Description</span>
        <p class="w-500">{{description}}</p>
    </div>

    <div class="buttons-div">
        <button class="btn" (click)="back()">Back</button>
        <button class="btn" [disabled]="following" (click)="follow()">Follow this item</button>
    </div>
</div>