<app-head></app-head>

<div class="profile-container">
    <h2>User profile</h2>
    <div class="separator-div"></div>
    <div class="display-row">
        <form>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control profile-inputs">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control profile-inputs">
            </div>
            <div class="form-group">
                <label>Surname</label>
                <input class="form-control profile-inputs">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input class="form-control profile-inputs">
            </div>
        </form>
            <div class="image-field-div">
                <img class="profile-img">

                <div class="image-label">
                    <label for="image-input">    
                        <input id="image-input" type="file" accept="image/*" class="hidden" (change)="onImageSelected($event)">
                        <fa-icon [icon]="addImageIcon" class="fa-2xl image-icon"></fa-icon>
                    </label>
                </div>
            </div>
            
    </div>

    <h2 class="top-margin">Change password</h2>
    <div class="separator-div"></div>

    <form>
        <div class="form-group">
            <label>Old password</label>
            <input class="form-control profile-inputs">
        </div>
        <div class="display-row">
            <div class="form-group">
                <label>New password</label>
                <input class="form-control profile-inputs">
            </div>
            <div class="form-group">
                <label>Repeat new password</label>
                <input class="form-control profile-inputs">
            </div>
        </div>
    </form>


    <div class="err-div"></div>

    <button class="btn btn-primary">Save changes</button>
</div>