
<app-head></app-head>

<div class="profile-container">
    <h2>User profile</h2>
    <div class="separator-div"></div>
    <form [formGroup]="form" enctype="multipart/form-data">
        <div class="display-row">
            <div>
                <div class="form-group">
                    <label>Email</label>
                    <input formControlName="email" class="profile-inputs form-control">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input formControlName="name" class="profile-inputs form-control">
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input formControlName="surname" class="profile-inputs form-control">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input formControlName="address" class="profile-inputs form-control">
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input formControlName="city" class="profile-inputs form-control">
                </div>
                <div class="form-group">
                    <label>Phone number</label>
                    <input formControlName="phoneNumber" class="profile-inputs form-control">
                </div>
            </div>
            
            <div class="image-field-div">
                <img class="profile-img" [src]="pictureData">
                
                <div class="image-label">
                    <label for="image-input">    
                        <input id="image-input" type="file" accept="image/*" class="hidden" (change)="onImageSelected($event)"/>
                        <fa-icon [icon]="addImageIcon" class="fa-2xl image-icon"></fa-icon>
                    </label>
                </div>
            </div>
            
        </div>
        <div class="err-div" >{{profileChangesErr}}</div>
        <button class="btn btn-primary" (click)="onSubmit()">Save changes</button>
        </form>


    <h2 class="top-margin">Change password</h2>
    <div class="separator-div"></div>

    <form [formGroup]="passwordForm">
        <div class="form-group">
            <label>Old password</label>
            <input class="form-control profile-inputs" type="password" formControlName="password">
        </div>
        <div class="display-row">
            <div class="form-group">
                <label>New password</label>
                <input class="form-control profile-inputs" type="password" formControlName="newPassword">
            </div>
            <div class="form-group">
                <label>Repeat new password</label>
                <input class="form-control profile-inputs" type="password" formControlName="newPasswordRepeat">
            </div>
        </div>
    </form>


    <div class="err-div"  *ngIf="changePasswordErr | async as err">{{err}}</div>
    <button class="btn btn-primary" (click)="changePassword()">Change password</button>

</div>