div.profile-container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: 850px;
    max-width: fit-content;
    min-height: 800px;
    max-height: fit-content;/*
    border: 1px solid #D0D7DE;
    border-radius: 25px;*/
    padding: 30px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black; 
}

div.separator-div{
    height: 1px;
    border-radius: 15px;
    width: 95%;
    background-color: #D8DEE4;
}

.form-group{
    margin-top: 20px;
    width: fit-content;
}

.top-margin{
    margin-top: 30px;
}

.display-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.profile-img{
    width: 250px;
    height: 250px;
    border: 2px rgb(60, 214, 137) solid;
    border-radius: 100%;
}

.err-div{
    text-align: center;
    color: red;
}

input.profile-inputs{
    width: 400px;
    border: 1px solid #D0D7DE;
    background-color: #F6F8FA;
}

input.profile-inputs:focus{
    background-color: white;
}

label{
    font-weight: 500;
}

.btn{
    display: block;
    margin: auto;
    margin-top: 50px;
}
.pp-div{
    position: relative;
}
.pp-lab{
    position: absolute;
    left: 100px;
    top: 20px;
}

.err-div{
    display: block;
    margin: auto;
    margin-top: 30px;
    height: 50px;
    width: 50%;

}

.img-rev{
    
}

.image-icon{
    cursor: pointer;
}
.image-field-div{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-label{
    position: relative;
    top: 70px;
    right: 60px;
    padding: 10px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

.image-label:hover{
    color: white;
    background-color: rgb(60, 214, 137);
}


.hidden{
    display: none;
}

.btn-primary{
    background-color: rgb(60, 214, 80);
    border-color: rgb(60, 214, 80);
}
.btn-primary:active{
    background-color: rgb(49, 168, 109) !important;
    border-color: rgb(49, 168, 109) !important;
}